@tailwind base;
@tailwind components;
@tailwind utilities;

#map {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
}

#d3demo {
  width: 80vw;
  height: 50vh;
}

#d3JapanMap {
  width: 80vw;
  height: 50vh;
}
